:root {
  --c-bg: #fff;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
}

html {
  background-color: var(--c-bg);
}

html.dark {
  --c-bg: #050505;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
}

html {
  overflow: scroll;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #395;
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}

.sponsor-avatar {
  cursor: pointer;
}
.sponsor-tier-title {
  font-weight: 500;
  font-size: 20px;
  fill: currentColor;
}
.sponsor-name {
  font-weight: 300;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

h2 + p > em:first-child {
  opacity: 0.5;
  display: block;
  margin-top: -20px;
  font-size: 0.9em;
}
