:root {
  --c-bg: #fff;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
}

html {
  background-color: var(--c-bg);
}

html.dark {
  --c-bg: #050505;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
}

html {
  overflow: scroll;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #395;
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}

.sponsorkit-avatar {
  cursor: pointer;
}
.sponsorkit-tier-title {
  font-weight: 600;
  font-size: 20px;
  fill: currentColor;
}
.sponsorkit-name {
  font-weight: 300;
  font-size: 15px;
  transform: translateY(8px);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

h2 + p > em:first-child {
  opacity: 0.5;
  display: block;
  margin-top: -20px;
  font-size: 0.9em;
}

.dark [img-light] {
  display: none;
}

html:not(.dark) [img-dark] {
  display: none;
}

@keyframes fade-slide-up {
  0% {
    transform: translateY(10px);
    opacity: 0
  }

  to {
    transform: translateY(0);
    opacity: 100
  }
}

@keyframes fade-slide-up-50 {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 0.5;
  }
}

[slide-up], .slide-up {
  opacity: 0;
  animation: fade-slide-up 1s ease 1;
  animation-fill-mode: both;
}

[slide-up-50], .slide-up-50 {
  opacity: 0;
  animation: fade-slide-up-50 1s ease 1;
  animation-fill-mode: both;
}

.slide-up-content > * {
  opacity: 0;
  animation: fade-slide-up 1s ease 1;
  animation-fill-mode: both;
}

.slide-up-content > *:nth-child(1) { animation-delay: 50ms; }
.slide-up-content > *:nth-child(2) { animation-delay: 100ms; }
.slide-up-content > *:nth-child(3) { animation-delay: 150ms; }
.slide-up-content > *:nth-child(4) { animation-delay: 200ms; }
.slide-up-content > *:nth-child(5) { animation-delay: 250ms; }
.slide-up-content > *:nth-child(6) { animation-delay: 300ms; }
.slide-up-content > *:nth-child(7) { animation-delay: 350ms; }
.slide-up-content > *:nth-child(8) { animation-delay: 400ms; }
.slide-up-content > *:nth-child(9) { animation-delay: 450ms; }
.slide-up-content > *:nth-child(10) { animation-delay: 500ms; }
.slide-up-content > *:nth-child(11) { animation-delay: 550ms; }
.slide-up-content > *:nth-child(12) { animation-delay: 600ms; }
.slide-up-content > *:nth-child(13) { animation-delay: 650ms; }
.slide-up-content > *:nth-child(14) { animation-delay: 700ms; }
.slide-up-content > *:nth-child(15) { animation-delay: 750ms; }
.slide-up-content > *:nth-child(16) { animation-delay: 800ms; }
.slide-up-content > *:nth-child(17) { animation-delay: 850ms; }
.slide-up-content > *:nth-child(18) { animation-delay: 900ms; }
.slide-up-content > *:nth-child(19) { animation-delay: 950ms; }
.slide-up-content > *:nth-child(20) { animation-delay: 1000ms; }

